* {
    font-family: Verdana;
}

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.containers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
}

.vid {
    flex: 0 1 auto;
    height: 360px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
